* {
    margin: 0px;
    padding: 0px;
}
* , *:before , *:after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 65%;
}

 .attribution { font-size: 11px; text-align: center;  }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    display: flex;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    width: 100vw;
    font-size: 1.5rem;
    font-family: Outfit, monospace;
    
}
.blue-container{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.qr-card{
    display: grid;
    padding: 2rem;
    background-color: hsl(0, 0%, 100%);
    grid-template-columns: 30rem;
    border-radius: 05%;
    gap: 2rem;
    justify-content: center;
    
}
.qr-image{
    

    width: 28rem;
}
.qr-image-container{
    display: grid;
    justify-content: center;
}
.qr-text{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}
.qr-text p{
    width: fit-content;
    font-weight: 400;
    color:hsl(216, 15%, 48%);
    text-align: center;
}
.qr-text h3{
    font-weight: 700;
    color:  hsl(218, 44%, 22%);
    text-align: center;
    font-size:2rem;
}
@media (max-width: 400px) {
    html{
        font-size: 50%;
    }
}
